# Systems
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
coverage/

# Java / Maven
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
.classpath
.project
.settings/
.idea/
*.iml

# Logs
logs/
*.log

# Environment Variables (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
application-secrets.properties

# Editor
.vscode/
